In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("cardekho_dataset.csv", index_col=0)

In [3]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
SR.no,,,,,,,,,,,,,
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

# Data cleaning 
**Handling Missing Values**
- Handling Duplicates
- Check data type
- Understand the Dataset

In [4]:
# check null values
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [5]:
df.drop('car_name',axis=1,inplace=True)
df.drop('brand', axis=1, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   model              15411 non-null  object
 1   vehicle_age        15411 non-null  int64
 2   km_driven          15411 non-null  int64
 3   seller_type        15411 non-null  object
 4   fuel_type          15411 non-null  object
 5   transmission_type  15411 non-null  object
 6   mileage            15411 non-null  float64
 7   engine             15411 non-null  int64
 8   max_power          15411 non-null  float64
 9   seats              15411 non-null  int64
 10  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1.4+ MB

In [7]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

### Getting all Different type of Features

In [8]:
num_features = [feature for feature in df.columns if df[feature].dtype !='O']
print("Numerical Feature:",len(num_features))

Numerical Feature: 7

In [9]:
cat_features = [feature for feature in df.columns if df[feature].dtype =='O']
print("Categorical Feature:",len(cat_features))

Categorical Feature: 4

In [10]:
descrete_features=[ feature for feature in num_features if len(df[feature].unique())<=25]
print("Descrete Features:",len(descrete_features))

Descrete Features: 2

In [11]:
continious_features = [feature for feature in num_features if feature not in descrete_features]
print("continous features:",len(continious_features))

continous features: 5

In [12]:
## Divide data into independent & Dependent feature 
from sklearn.model_selection import train_test_split
X = df.drop(['selling_price'], axis=1)
y = df['selling_price']

In [13]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
SR.no,,,,,,,,,,
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [14]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [15]:
len(df['model'].unique())

120

In [16]:
df['model'].value_counts()

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['model']=le.fit_transform(X['model'])

In [18]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
SR.no,,,,,,,,,,
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

### Checking Categorical feature count

In [19]:
df['seller_type'].value_counts()

seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64

In [20]:
df['fuel_type'].value_counts()

fuel_type
Petrol      7643
Diesel      7419
CNG          301
LPG           44
Electric       4
Name: count, dtype: int64

In [21]:
df['transmission_type'].value_counts()

transmission_type
Manual       12225
Automatic     3186
Name: count, dtype: int64

## feature Encoding and Scaling
**OneHot Encoding for Columns which had lesser unique values and not ordinal value**

- One hot encoding is a process by which categorical variables are converted a number

In [22]:
# Create column Transfermer with 3 types of transformers
num_features = X.select_dtypes(exclude='object').columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
        ("StandardScaler", numeric_transformer, num_features)
    ],remainder='passthrough'

)

In [23]:
X=preprocessor.fit_transform(X)

In [24]:
X

array([[ 1.        ,  0.        ,  0.        , ..., -1.32425883,
        -1.26335238, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43257082, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.47911321, -0.40302241],
       ...,
       [ 0.        ,  0.        ,  1.        , ...,  0.02291783,
         0.06822523, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  1.32979434,
         0.91715831,  2.07344426],
       [ 0.        ,  0.        ,  0.        , ...,  0.02099878,
         0.39588361, -0.40302241]])

In [25]:
# seprate dataset into train test 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25 , random_state=42)

In [26]:
X_train.shape,X_test.shape

((11558, 14), (3853, 14))

# Model Training & Model Selection

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [35]:
# create Function to Evaluate Model 
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mse)
    r2 = r2_score(true, predicted)
    return mse, mae, rmse, r2

In [36]:
# Begnning Models Training
models = {
    "Linear Regression":LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "Adaboost Regressor": AdaBoostRegressor()

}

for i in range(len(models)):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # make prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate Train and Test dataset
    model_train_mse, model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mse, model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)
    
    print(list(models.keys())[i])

    print("Model Performance for training set")
    print("- Mean Squared Error: {:.4f}".format(model_train_mse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print("="*35)

    print("Model Performance for test set")
    print("- Mean Squared Error: {:.4f}".format(model_test_mse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- R2 Score: {:.4f}".format(model_test_r2))

    print('='*35)
    print('\n')

Linear Regression
Model Performance for training set
- Mean Squared Error: 304874315292.8461
- Mean Absolute Error: 266675.1076
- Root Mean Squared Error: 552154.2495
- R2 Score: 0.6220
===================================
Model Performance for test set
- Mean Squared Error: 270286925822.7529
- Mean Absolute Error: 284283.4460
- Root Mean Squared Error: 519891.2635
- R2 Score: 0.6525
===================================


Lasso
Model Performance for training set
- Mean Squared Error: 304874327628.1807
- Mean Absolute Error: 266674.0472
- Root Mean Squared Error: 552154.2607
- R2 Score: 0.6220
===================================
Model Performance for test set
- Mean Squared Error: 270286207881.6533
- Mean Absolute Error: 284283.7890
- Root Mean Squared Error: 519890.5730
- R2 Score: 0.6525
===================================


Ridge
Model Performance for training set
- Mean Squared Error: 304875008766.8082
- Mean Absolute Error: 266635.3662
- Root Mean Squared Error: 552154.8775
- R2 Score: 0.6220
===================================
Model Performance for test set
- Mean Squared Error: 270275613895.9653
- Mean Absolute Error: 284241.1129
- Root Mean Squared Error: 519880.3842
- R2 Score: 0.6525
===================================


K-Neighbors Regressor
Model Performance for training set
- Mean Squared Error: 108579261318.5672
- Mean Absolute Error: 90967.3646
- Root Mean Squared Error: 329513.6739
- R2 Score: 0.8654
===================================
Model Performance for test set
- Mean Squared Error: 78779566186.2510
- Mean Absolute Error: 116579.3732
- Root Mean Squared Error: 280676.9784
- R2 Score: 0.8987
===================================


Decision Tree
Model Performance for training set
- Mean Squared Error: 426210181.9807
- Mean Absolute Error: 4991.7517
- Root Mean Squared Error: 20644.8585
- R2 Score: 0.9995
===================================
Model Performance for test set
- Mean Squared Error: 94913361458.4775
- Mean Absolute Error: 131772.9237
- Root Mean Squared Error: 308080.1218
- R2 Score: 0.8780
===================================


Random Forest Regressor
Model Performance for training set
- Mean Squared Error: 21503213108.3965
- Mean Absolute Error: 40053.4024
- Root Mean Squared Error: 146639.7392
- R2 Score: 0.9733
===================================
Model Performance for test set
- Mean Squared Error: 59170168202.9575
- Mean Absolute Error: 105330.4392
- Root Mean Squared Error: 243249.1895
- R2 Score: 0.9239
===================================


Adaboost Regressor
Model Performance for training set
- Mean Squared Error: 145466679034.6209
- Mean Absolute Error: 259595.0316
- Root Mean Squared Error: 381400.9426
- R2 Score: 0.8196
===================================
Model Performance for test set
- Mean Squared Error: 185112431507.8880
- Mean Absolute Error: 281072.1246
- Root Mean Squared Error: 430246.9425
- R2 Score: 0.7620
===================================

# Hyperparameter tunning Best Model

In [37]:
# Define the parameter grid
Knn_params = {
    'n_neighbors': [3, 5, 7, 9, 11, 13, 15],
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    'leaf_size': [10, 20, 30, 40, 50],
    'p': [1, 2]
}

rf_params = {
    'n_estimators': [100, 200, 300],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

ada_params = {
    'n_estimators': [50,60,70,80,90],
    'loss':['linear','square', 'exponential']

}

In [38]:
# Models 
randomcv_models =[('KNN', KNeighborsRegressor(), Knn_params),
                  ("RF", RandomForestRegressor(), rf_params),
                  ("Adaboost", AdaBoostRegressor(), ada_params)
                 
                 ]

In [39]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_models:
    random =RandomizedSearchCV(estimator=model,
                               param_distributions=params,
                               n_iter=100,
                               cv=3,
                               verbose=2,
                               n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"-----------Best Params for {model_name}----------")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 15 candidates, totalling 45 fits
-----------Best Params for KNN----------
{'weights': 'distance', 'p': 1, 'n_neighbors': 3, 'leaf_size': 50, 'algorithm': 'ball_tree'}
-----------Best Params for RF----------
{'n_estimators': 100, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': 'log2', 'max_depth': 30, 'bootstrap': False}
-----------Best Params for Adaboost----------
{'n_estimators': 50, 'loss': 'linear'}

In [40]:
models = {

    "K-Neighbors Regressor": KNeighborsRegressor(weights='distance', p=1, n_neighbors= 3, 
                                                 leaf_size=30, algorithm='ball_tree'),
    
    "Random Forest Regressor": RandomForestRegressor(n_estimators=100, min_samples_split= 2, 
                                                     min_samples_leaf= 1, max_features= 'sqrt', max_depth= 10,
                                                     bootstrap= False),
    "AdaBoost": AdaBoostRegressor(n_estimators=50, loss='linear')

}

for i in range(len(models)):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # make prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate Train and Test dataset
    model_train_mse, model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mse, model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)
    
    print(list(models.keys())[i])

    print("Model Performance for training set")
    print("- Mean Squared Error: {:.4f}".format(model_train_mse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print("="*35)

    print("Model Performance for test set")
    print("- Mean Squared Error: {:.4f}".format(model_test_mse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- R2 Score: {:.4f}".format(model_test_r2))

    print('='*35)
    print('\n')

K-Neighbors Regressor
Model Performance for training set
- Mean Squared Error: 430455874.7188
- Mean Absolute Error: 5011.8821
- Root Mean Squared Error: 20747.4306
- R2 Score: 0.9995
===================================
Model Performance for test set
- Mean Squared Error: 77769520745.2207
- Mean Absolute Error: 109415.4372
- Root Mean Squared Error: 278871.8716
- R2 Score: 0.9000
===================================


Random Forest Regressor
Model Performance for training set
- Mean Squared Error: 23239946377.0574
- Mean Absolute Error: 89601.6125
- Root Mean Squared Error: 152446.5361
- R2 Score: 0.9712
===================================
Model Performance for test set
- Mean Squared Error: 63216534183.1003
- Mean Absolute Error: 115824.3248
- Root Mean Squared Error: 251428.9844
- R2 Score: 0.9187
===================================


AdaBoost
Model Performance for training set
- Mean Squared Error: 197509546689.5826
- Mean Absolute Error: 344570.0807
- Root Mean Squared Error: 444420.4616
- R2 Score: 0.7551
===================================
Model Performance for test set
- Mean Squared Error: 233545682634.6334
- Mean Absolute Error: 366444.0440
- Root Mean Squared Error: 483265.6440
- R2 Score: 0.6997
===================================